@use "../abstracts/variables" as *;
@use "../base/typography" as *;

.plugin-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.plugin-card {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: $border-width solid $highlight;
  padding: 15px;

  #status {
    @include body-bold;
    text-transform: uppercase;
    color: $muted-text;
  }

  #title {
    @include bold-label;
    margin: 8px 0;
  }

  &:hover .arrow img {
    display: block;
  }

  .arrow {
    width: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;

    img {
      aspect-ratio: 1;
      width: 15px;
      display: none;
    }
  }

  .right-info {
    display: flex;
    flex-direction: row;
    @include body-bold;
    font-size: 16px;
  }
}
